<div class="intrasesc-nav">
    <div class="intrasesc-nav-inner">
        <img src="http://office-sp.dclick.com.br/sesc-guideline/releases/2.2.0/img/intrasesc-logo.png">
    </div>
</div>
<div class="application-navbar navbar">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">
                APP Teste
                <small>Página inicial</small>
            </a>

            <div class="nav-collapse nav-container">
                <ul class="nav"></ul>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <div class="container">
        <div class="page-header-options">
          <div class="btn-group">
            <button href="#" class="btn print-page"> <i class="icon-print" />Imprimir
            </button>
            <button class="btn btn-help" data-toggle="modal" href="#helpModal">
              <i class="icon-question-sign" />Ajuda
            </button>
          </div>
        </div>
        <div class="breadcrumb-container"></div>
        <h1>Carregando... </h1>
    </div>
</div>

<div id="application" class="container">
    <div id="module-container"></div>
</div>

<footer class="footer">
    <div class="container">
        <p>© Guideline 2.0.0</p>
    </div>
</footer>